/* CSS Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}


/* CSS of the form*/

@font-face {
	font-family: norse;
	src: url(Norse-Bold.otf);
}

* {
	font-family: Helvetica;
}

body {
	background-color: #1F1F1F;
}

.container {
	display: flex;
	width: 70%;
	margin: 0 auto;
}

.form-content {
	background-color: #F9FAFB;
	flex: 1;
	padding: 100px 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
}

.form-img img {
	height: 100vh;
}

.form-img {
	width: 450px;
	flex: 0 0 auto;
}

.form {
	background-color: white;
}

label {
	display: block;
}

.form-row {
	display: flex;
	gap: 40px;
}

.form>p {
	padding: 20px 40px 0 40px;
}

.form>form {
	padding: 0 40px;
	padding-top: 20px;
}

.form-col {
	flex: 1;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

form button {
	background-color: #596D48;
	padding: 5px 45px;
	color: white;
	border-radius: 7px;
	box-shadow: 3px 3px 15px black;
}

form button:hover {
	background-color: #596d48c5;
}

.form-row>.form-col {
	padding-bottom: 20px;
}

.form-col>p {
	margin-top: 5px;
}

.form-col>input:focus {
	border: 1px solid #1D4ED8;
}

input:focus {
	outline: none;
}

.form-col>input {
	width: 100%;
	border: 2px solid #D6D9DC;
	border-radius: 3px;
	padding: 3px 10px;
}

.form-col>input:user-invalid {
	border: 1px solid #b92326;
	background-color: rgba(185, 35, 38, 0.25);
}

.form-col>input:valid {
	border: 1px solid #8BC34A;
	background-color: rgba(139, 195, 74, 0.25);
}

.form-img {
	position: relative;
}

.odin-logo {
	position: absolute;
	top: 25%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.603);
	display: flex;
	align-items: center;
	margin: auto;
	justify-content: center;
	gap: 10px;
}

.odin-logo>img {
	height: 150px;
}

.odin-logo>h1 {
	color: white;
	font-family: norse, sans-serif;
	font-size: 5rem;
}








/* input:required::before {} */